.incident-detail {
    background: #fff;
    border-radius: 12px;
}

.incident-detail h3 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.incident-detail a {
    display: inline-block;
    color: #0d6efd;
    text-decoration: none;
}

#cate-button-actions,
#send-button-actions {
    color: white;
}

#send-button-actions {
    background-color: #ff6b35;
}

#cate-button-actions {
    background-color: rgb(162, 162, 162);
}
